/.idea/
/.php_cs.cache
/.php-cs-fixer.cache
/.phpunit.result.cache
/bin/meteor.phar
/box.json
/box.phar
/composer.phar
/docs/.sass-cache
/docs/_site
/docs/node_modules/*
!/docs/node_modules/bootstrap/
/php-cs-fixer.phar
/phpunit.xml
/tests/mock_project/package/logs/
/tests/mock_project/package/meteor.phar
/vendor/
