{
    "alias": "meteor.phar",
    "chmod": "0755",
    "compactors": [
        "Herrera\\Box\\Compactor\\Json",
        "Herrera\\Box\\Compactor\\Php"
    ],
    "directories": ["src"],
    "files": [],
    "finder": [
        {
            "exclude": [
                "/mikey179",
                "/mockery",
                "/phpunit",
                "Tester",
                "Tests",
                "tests"
            ],
            "in": "vendor"
        }
    ],
    "git-commit": "git-commit",
    "git-version": "git-version",
    "main": "bin/meteor",
    "output": "bin/meteor.phar",
    "stub": true
}
