{
    "alias": "meteor.phar",
    "chmod": "0755",
    "compactors": [
    ],
    "directories": ["src"],
    "extract": true,
    "files": [],
    "finder": [
        {
            "exclude": [
                "/mikey179",
                "/mockery",
                "/phpunit",
                "Tester",
                "Tests",
                "tests"
            ],
            "in": "vendor"
        }
    ],
    "main": "bin/meteor",
    "output": "bin/meteor.phar",
    "stub": true
}
