{
    "alias": "meteor.phar",
    "banner": false,
    "compactors": [
        "KevinGH\\Box\\Compactor\\Json",
        "KevinGH\\Box\\Compactor\\Php"
    ],
    "compression": "GZ",
    "directories": ["src"],
    "dump-autoload": false,
    "finder": [
        {
            "exclude": [
                "doc",
                "docs",
                "hamcrest",
                "mikey179",
                "mockery",
                "myclabs",
                "phpunit",
                "php-cs-fixer",
                "sebastian",
                "theseer",
                "Tester",
                "Tests",
                "tests"
            ],
            "in": "vendor"
        }
    ],
    "git-commit": "git-commit",
    "git-version": "git-version"
}
